/* css/style.css */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    background-color: #0f0f0f;
    color: #fff;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

.profile-photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;         
    margin-bottom: 2rem;
}

.subtitle {
    font-size: 1.5rem;
    color: #ccc;
    margin: 0;
}

.qr-code {
    width: 135px;         /* Tamanho ideal para visualização e leitura */
    height: 135px;
    border-radius: 8px;   /* Cantos levemente arredondados para combinar com o visual moderno */
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

footer {
    padding-bottom: 2rem;
    font-size: 0.9rem;
    color: #888;
}

footer p {
    margin: 0.3rem 0;
}
